body {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  border-bottom: 1px solid #000;
}

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 16px;
  right: 20px;
  z-index: 5;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #333;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger:hover, .hamburger:focus {
  box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
}

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #333;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: inherit;
  transition: inherit;
}

.drawer-background {
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .sp-global-menu {
  transform: translateX(0px);
  transition: 0.3s;
}

.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.8;
  transition: 0.3s;
}

.hamburger__line::before {
  top: -5px;
}

.hamburger__line::after {
  top: 5px;
}

.hamburger[aria-expanded="true"] {
  border: 1px solid #fff !important;
}

.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before, .hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sp-global-menu {
  position: fixed;
  z-index: 4;
  width: 280px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  transform: translateX(280px);
  transition: 0.3s;
}
